
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.sidebar-toggle {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
  top: 10px;
  background-color: #7ed321;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
  border: none;
  border-radius: 5px;
}
