
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

body {
  margin: 0;
  color: white;
  padding-block: 30px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border-style: groove;
}
  
  .container {
    max-width: 800px;
    text-align: center;
    background:cornsilk;
    padding: 40px;
    border-radius:30px;
    border-color: rgb(68, 39, 2);
      color: #1a322b;
  

  }
  
  header h2 {
    font-weight:bold;
    color: #1a322b;
  }
  
  header p {
    font-size: 1.2rem;
    color: #1a322b;
  }
  
  .description {
    margin-top: 20px;
    line-height: 1.6;
    color: #1a322b;
  }
  
  
  .cta .btn {
    text-decoration: none;
    display: inline-block;
    background: #789068;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 1rem;
    margin: 0 10px;
    border-color: #1a322b;
  }
  
  .cta .btn.secondary {
    background:#789068;
    border-color: #1a322b;
    border-radius: 6px;
  }
  
  .cta .btn:hover {
    background: #789068;
        border-color: #1a322b;
    border-radius: 6px;
  }
