    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <div class="container"> 
        <header>
          <h1>Hey, alles klar?</h1>
          <h2>    <p>Das ist ein fokussierter Blick auf die Grundlagen moderner Webtechnologien.</p></h2>
       
        </header>
        <div class="description">

          <p>
            In kurzen Fragen erforschst du zentrale Themen der Webentwicklung:</p>
          
          <p>
             <strong>HTML</strong> – das Grundgerüst jeder Webseite<br>
             <strong>CSS</strong> – Form und Gestaltung<br>
             <strong>JavaScript</strong> – die Dynamik und Interaktion<br>
             <strong>Angular</strong> – eine Framework-Architektur für Anwendungen <br>
             <strong>Backend</strong> – die Logik hinter der Oberfläche<br>
             <strong>Frontend & Backend</strong> – die Verbindung des Designs und der Daten
            </p>
          <hr>
          <br>
          <h4><strong>Nimmst du auch teil?</strong></h4>
          Du stärkst dein Verständnis, gewinnst Klarheit und bereitest dich gezielt auf Vorlesungen, Übungen und Semesteraufgabe vor.
<br>
        </div>
        <div class="cta">
          <br>
          <br>
          <a href="/quiz" class="btn">Zum Quiz</a>
        </div>
      </div>
    </body>
    </html>
