<mat-card>
    <mat-card-title>Frage bearbeiten/erstellen</mat-card-title>
    <form [formGroup]="questionForm" (ngSubmit)="saveQuestion()">
      
      <mat-form-field appearance="outline">
        <mat-label>Frage</mat-label>
        <input matInput formControlName="question" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Kategorie</mat-label>
        <input matInput formControlName="category" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Korrekte Antwort</mat-label>
        <input matInput formControlName="correctAnswer" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Erklärung</mat-label>
        <textarea matInput formControlName="explanation"></textarea>
      </mat-form-field>
  
      <div formArrayName="options">
        <h4>Antwortoptionen</h4>
        <div *ngFor="let option of options.controls; let i = index">
          <mat-form-field appearance="outline">
            <mat-label>Option {{ i + 1 }}</mat-label>
            <input matInput [formControlName]="i">
          </mat-form-field>
        </div>
      </div>
  
      <div class="actions">
        <button mat-button type="button" (click)="cancel()">Abbrechen</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!questionForm.valid">Speichern</button>
      </div>
    </form>
  </mat-card>
  