
.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  fieldset {
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  

  legend {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
  }
  

  .form-control {
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #ced4da;
  }
  
  .form-control.is-invalid {
    border-color: #dc3545;
  }
  
  .form-control.is-valid {
    border-color: #28a745;
  }
  
  .invalid-feedback {
    font-size: 0.875rem;
    color: #dc3545;
  }
  

  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-outline-secondary {
    border-color: #6c757d;
    color: #6c757d;
  }
  