
.question-card {
  background-color:cornsilk;
  border-radius: 10px;
  font-size: 2.5rem;
  font-weight:bold;
  color: #1a322b;
      border-radius:30px;
    border-color: rgb(68, 39, 2);
}

.options-list {
  padding-left: 1rem;
}

@media (max-width: 768px) {
  .question-card {
    padding: 15px;
    font-size: 0.95rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .question-text, .explanation, .category {
    font-size: 0.95rem;
  }
  
  
}
