.question-card {
  background-color: cornsilk;
  border-radius: 30px;
  border: 2px solid rgb(68, 39, 2);
  padding: 25px;
  margin-bottom: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #1a322b;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
